<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="SynchronizeComments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ModelDB" connectionString="server=DESKTOP-U1VAMSJ\MSSQLSERVER2017;database=TestDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
<applicationSettings>
    <SynchronizeComments.Properties.Settings>
        <setting name="SiteUrl" serializeAs="String">
            <value>https://jsonplaceholder.typicode.com/comments</value>
        </setting>
    </SynchronizeComments.Properties.Settings>
  </applicationSettings>
</configuration>